@{
    ViewData["Title"] = "Membership List";
}

<div class="text-left flex-row d-flex justify-content-between align-items-center">
    <h1 class="p-2 display-4">Members</h1>
    <div class="p-2">
        <a asp-area="" asp-controller="Home" asp-action="AddNewMember">
            <button type="button" class="btn btn-link">
                Add New Member
            </button>
        </a>
    </div>
</div>

<table class="table mb-5">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Member Company</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Upcoming Gift</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.HasData)
        {
            @foreach (var member in Model.Members)
            {
                    <tr>
                        <td>@member.FirstName</td>
                        <td>@member.LastName</td>
                        <td>Company</td>
                        <td>@member.DOB</td>
                        <td>@member.GetMemberGift()</td>
                        <td>
                <a asp-area="" asp-controller="Home" asp-action="GetMember" asp-route-memberID="@member.MembershipID">Details</a>
                </td>
                    </tr>
                
            }
        }
        else
        {
            <p>No data!</p>
        }
    </tbody>
</table>
